<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="left">
	    <div class="left_box categories">
	    	{% for category in site.categories %}
	        <li>
	            <a href="/{{ category | first }}" {% if page.categories == category[0] %}class="active"{% endif %}> 
	                {% for cat in site.ww_categories %}{% if category[0] == cat[0] %}{{cat[1]}}{% endif %}{% endfor %}<span>({{ category | last | size }})</span>
	            </a>
	        </li>
	        {% endfor %}
	    </div>
	    <div class="left_box">
	        {% for my_page in site.pages %}
            {% if my_page.type == 'page' %}
            <li><a href="{{ my_page.url }}" {% if my_page.url == page.url %}class="active"{% endif %}>{{ my_page.title }}</a></li>
            {% endif %}
	        {% endfor %}
	    </div>
    </div>
    
    <div class="right">
        <ul>
        	{% if paginator.posts %}
                {% assign post_list = paginator.posts %}
            {% else %}
                {% assign post_list = site.categories[page.categories] %}
            {% endif %}
            {% for post in post_list %}
            <li class="right_box">
	            <h2>
	                <a href="{{ post.url }}">{{ post.title }}</a>
	            </h2>
	            <div class="label">
	            	<span>{{ post.date | date: "%F" }}</span>
	            	{% if post.author %}<span>{{ post.author }}</span>{% endif %}
	            	{% if post.categories %}<span><a href="{{ root_url }}/{{ post.categories }}">{{ post.categories }}</a></span>{% endif %}
	            </div>
	            <div class="excerpt">
	                {{post.excerpt}}
	                <a class="read-all" href="{{ post.url }}">更多</a>
	            </div>
            </li>
            {% endfor %}
        </ul>
        
        {% if page.categories==falsy %}
        <div class="pagination">
			{% if paginator.previous_page %}
			<a    class="previous" href="{{ paginator.previous_page_path }}">«</a>
			{% else %}
			<span class="previous">«</span>
			{% endif %}
			
			{% if paginator.total_pages > 1 %}
			{% if paginator.page > 1 %}
			<a href="/">1 ...</a>
			{% else %}
			<span class="current">1</span>
			{% endif %}
			{% endif %}
			
			{% if paginator.total_pages == 1 %}
			<span class="current">1</span>
			{% else %}
    			{% for count in (1..paginator.total_pages) %}
    			{% assign limit_left = paginator.page | minus: 2 %}
    			{% assign limit_right = paginator.page | plus: 2 %}
    			{% if count > 1 and count < paginator.total_pages and count>limit_left and count<limit_right %}
                {% if count == paginator.page %}
                <span class="current">{{count}}</span>
                {% else %}
                <a href="/page{{count}}">{{count}}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
			{% endif %}
			
			{% if paginator.total_pages > 1 %}
			{% if paginator.page < paginator.total_pages %}
            <a href="/page{{ paginator.total_pages }}"}">... {{ paginator.total_pages }}</a>
            {% else %}
            <span class="current">{{ paginator.total_pages }}</span>
            {% endif %}
            {% endif %}
            
			{% if paginator.next_page %}
		    <a    class="next" href="{{ paginator.next_page_path }}" >»</a>
			{% else %}
		    <span class="next">»</span>
			{% endif %}
        </div>
        {% endif %}
        
        {% include footer.html %}
    </div>

</body>
</html>