<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="content">
    
        <h1>{{ post.title }}</h1>
        
        <div class="label">
            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
            </div>
            <div class="label-card">
                {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}{% endif %}
            </div>
            <div class="label-card">
                {% include category.html %}
            </div>
        </div>
        
        <article>
            {{content}}
        </article>
        
        <div class="post-recent">
            <div class="pre">
                {% if page.previous %}
                <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
                {% endif %}
            </div>
            <div class="nex">
                {% if page.next %}
                <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
                {% endif %}
            </div>
        </div>

        <div class="comments">
            	评论啊…
        </div>
    </div>
    
    {% include footer.html %}
</body>
</html>