<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="mobile_content fixed">
        <a href="javascript:history.go(-1);">&lt; 返回</a>
        <span>目录 +</span>
    </div>
    
	<div class="left">
		<div class="left_box outline">
	        <a href="javascript:history.go(-1);">&lt; 返回</a>
	        <ol></ol>
	    </div>
	</div>
	
	<div class="right">
		
        <article>
        	<h1>{{ page.title }}</h1>
	        <p class="read">
                <span>阅读:</span>
                <span id="busuanzi_value_page_pv">0</span>
                <span>评论:</span>
	            <a class="cloud-tie-join-count" href="javascript:void(0);" id="cloud-tie-join-count"><span class="join-count">0</span></a>
	        </p>
	        <div class="copyright fixed">
	        	<div class="info">
	        		{% if page.author=="weiwei" %}
		        	<p>版权协议：<a class="protocol" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" target="_blank">自由转载-保持署名-非商业性使用-禁止演绎 4.0</a></p>
		        	<p>本文地址：<a class="url" href="#">{{ site.url }}{{ page.url }}</a></p>
		        	<p>发布日期：{{ page.date | date: "%F" }}</p>
		        	{% else %}
		        	<p>原文作者：{{ page.author }}</p>
		        	<p>原文地址：<a class="url" href="{{ page.source_url }}">{{ page.source_url }}</a></p>
		        	<p>转载日期：{{ page.date | date: "%F" }}</p>
		        	{% endif %}
	        	</div>
	        	<img src="http://qr.liantu.com/api.php?el=l&m=0&bg=e9e9ca&w=70&text={{ site.url }}{{ page.url }}" alt="手机扫码访问本文" />
	        </div>
        	{{content}}
        </article>
        
        <div class="plugin">
        	<div class="pre">
                {% if page.previous %}
                <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
                {% endif %}
            </div>
            <div class="nex">
                {% if page.next %}
                <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
                {% endif %}
            </div>
        </div>
        
        <div class="comment">
            <h2>我要发表看法</h2>
            <a class="cloud-tie-join-count" href="javascript:void(0);">
              <span class="join-count">0</span>
              <span class="join-text">条</span>
            </a>
            {% include comment.html %}
        </div>
        
        {% include footer.html %}
    </div>

	<script type="text/javascript">
		// 目录
		var TOCString = document.querySelector('#markdown-toc').innerHTML
        var contentUl = document.querySelector('.outline ol')
        contentUl.insertAdjacentHTML('afterBegin', TOCString);
	</script>
</body>
</html>